.about-section {
    width: 100%;
    padding: 5em 0;
}




.gridHeader {
    color: rgba(255, 255, 255, 0.6);
    font-family: sans-serif;
    font-size: 1.5rem;
    width: 90%;
    text-align: center;
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 20px;
    transition-duration: 0.7s;
    margin-bottom: 30px;


}

.infH {
    color: white;
    font-family: sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: clamp(1.8rem, 4vw, 2rem);
}


.gridContainer {

    width: 100%;
    display: flex;
    align-items: center;



}

.picSE {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.picST {
    width: 100%;
    z-index: -5;
    -o-object-fit: contain;
    object-fit: contain;
}


.expBtn {

    height: 60px;
    width: 200px;
    position: absolute;
    border: 3px solid white;
    background: black;
    color: white;
    left: 50%;
    transform: translate(-50%);


}

.expBtn:hover {


    border: 3px solid rgba(11, 159, 196);
    cursor: pointer;
    color: rgb(196, 178, 11);

    transition-duration: 0.2s;



}



.about-Grid {
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
    row-gap: 1.7rem;

    width: 100%;
    height: 100%;




}

.grid-div {
    position: relative;
    margin-bottom: 30px;

}

.linkd-icon {
    position: relative;
    left: 7%;
    width: 40px;
    height: 40px;

    color: rgba(11, 159, 196);

    -webkit-animation: myanimation 5s infinite;

    animation: myanimation 5s infinite;
}

.git-icon {

    position: relative;
    left: 10%;

    width: 40px;
    height: 40px;

    color: rgba(11, 159, 196);

    -webkit-animation: myanimation 3s infinite;

    animation: myanimation 3s infinite;
}

.git-icon:hover {

    width: 45px;
    height: 45px;
    cursor: pointer;
    transition-duration: 0.2s;
}

.linkd-icon:hover {

    width: 45px;
    height: 45px;
    transition-duration: 0.2s;
    cursor: pointer;
}


@-webkit-keyframes myanimation {
    0% {
        color: rgb(255, 255, 255);
    }

    25% {
        color: rgb(165, 213, 224);
    }

    50% {
        color: rgb(114, 186, 204);
    }

    75% {
        color: rgb(104, 200, 224);
    }

    100% {
        color: rgba(11, 159, 196);
    }
}


@keyframes myanimation {
    0% {
        color: rgb(255, 255, 255);
    }

    25% {
        color: rgb(165, 213, 224);
    }

    50% {
        color: rgb(114, 186, 204);
    }

    75% {
        color: rgb(104, 200, 224);
    }

    100% {
        color: rgba(11, 159, 196);
    }
}




.about-text {

    position: relative;
    margin: 15px auto;
    width: 93%;
    font-family: sans-serif;
    color: rgba(11, 159, 196);
    line-height: 1.8;
    font-size: 1rem;

    letter-spacing: 1px;


}


.about-text2 {

    position: relative;
    margin: 0 auto;
    width: 93%;
    font-family: sans-serif;
    color: white;
    line-height: 1.8;
    font-size: 1rem;

    letter-spacing: 1px;
}


.about-content-header {

    position: relative;
    left: 7%;
    width: 50%;
    font-family: sans-serif;
    color: rgba(255, 255, 255);
    font-size: 1.2rem;
    letter-spacing: 3px;


}

#a-content-h {
    color: rgba(255, 255, 255);
    margin-bottom: 20px;
}

.content-grid {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;





    position: relative;
    left: 7%;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.651);

    letter-spacing: 2px;
    line-height: 1.5rem;
    font-size: 0.9rem;
    width: 90%;
    height: 60%;



}

.content {
    display: flex;
    align-items: center;
}


.graph {
    display: block;
    position: relative;
    max-width: 50%;
    max-height: 100%;
    left: 50%;
    transform: translate(-50%);
}

#over {

    text-decoration: none;
    background: none;
}

.hidden {
    display: none;
}

.about-pic {
    width: 90%;
    max-height: 270px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    border-radius: 20px;
}




@media screen and (max-width: 800px) {






    .gridContainer {

        height: 85%;
    }

    .picST {
        height: 80%;
    }

    .picSE {
        width: 100%;
    }




}


@media screen and (max-width: 1200px) {

    .about-Grid {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

}


@media screen and (max-width: 700px) {

    .about-Grid {

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto 1fr 1fr;

    }


    .content-grid {
        row-gap: 1rem;
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }

    .content {
        line-height: 1.7rem;
    }

    .gridContainer {

        border-left: 3px solid rgba(11, 159, 196);
    }

}