.footer {
    margin: 0px;

    background: rgb(20, 20, 20);
    color: white;
    display: flex;
    justify-content: center;
    padding: 4.5rem;
    position: relative;



    position: absolute;
    top: 450%;
    width: 100%;
    height: 250px;
}



.fotGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    -moz-column-gap: 7rem;
         column-gap: 7rem;
}


.fotDiv {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    top: -25%;
}

.fotDiv2 {
    align-items: center;
    display: flex;
    position: relative;
    top: -25%;
}

.fotList {
    position: absolute;
    top: 70%;
}

.fotLi {
    list-style-type: none;
    padding: 5px;
    width: 130%;
}

.aboutP {
    position: absolute;
    top: 70%;
    width: 140%;
}







.fotH {
    color: rgb(11, 159, 196);
    font-family: sans-serif;
    font-size: 1.3rem;
}

.icons {
    color: rgb(11, 159, 196);
    width: 15px;
    height: 15px;
}



@media screen and (max-width: 550px) {

    .footer {
        display: none;
    }



    .fotGrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 5rem;
        top: 27%;
        width: 90%;
    }

    .fotDiv2 {
        left: -20%;
    }








}