.portfolio-section {
    width: 100%;
    padding: 0 0 4em 0;
}



#port-animation {
    max-width: 550px;
    margin: 0 auto;
}


.portH2 {
    margin: 25px auto;
    text-align: center;
    font-size: 2rem;
    color: white;

}

.portH {
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
    font-size: 1.5rem;

}


.gridContainerTwo {
    z-index: -1;

    width: max(300px, 95%);
    height: 75%;
    margin: 0 auto;

    display: flex;

    justify-content: center;
    align-items: center;


}

.grid2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    -moz-column-gap: 2.5rem;
    column-gap: 2.5rem;
    row-gap: 20px;

    align-content: center;


    height: 35%;
    width: max(300px, 750px);
}

.div12 {
    position: relative;
    border: 3px solid rgba(255, 255, 255, 0.689);
    border-radius: 10px;
    box-shadow: 0 0.5px 3px rgb(255, 255, 255);
    width: 100%;
    min-height: 250px;
    padding: 10px 10px 0 10px;
    background-color: rgba(0, 0, 0, 0.35);
}

.div12:hover {
    box-shadow: 0 2px 12px rgb(255, 255, 255);
    transition-duration: 0.2s;
}


.itemH2 {
    position: relative;
    padding: 1rem 0rem;
    color: rgb(11, 159, 196);
    font-family: sans-serif;
    top: 0%;

}

.itemText2 {
    color: white;
    font-family: sans-serif;
    position: relative;
    margin-bottom: 40px;
}

.itemwrap2 {
    position: relative;
    width: 100%;

}

.portBtn {

    background-color: rgb(11, 159, 196);
    border-color: white;
    color: white;

    padding: 0.3rem 0.4rem;
    border-radius: 10px;
    font-size: 1rem;
    position: absolute;
    display: flex;
    width: fit-content;
    text-decoration: none;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
}

.portBtn:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 0 1px 6px rgb(255, 255, 255);

}



@media screen and (max-width: 700px) {

    .grid2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        row-gap: 1.5rem;
    }

    .div12 {
        width: max(290px, 65%);
        margin: 0 auto;

    }

}