.portfolio-section {
    width: 100%;
    padding: 0 0 4em 0;
}


#port-animation {
    max-width: 550px;
    margin: 0 auto;
}


.portH2 {
    margin: 25px auto;
    text-align: center;
    font-size: 2rem;
    color: white;

}
